.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input {
  margin: 0;
}

.generated-passwords {
  margin-top: 20px;
}

.generated-passwords div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.generated-passwords input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.generated-passwords button {
  margin-left: 10px;
}

.password-strength {
  margin-top: 20px;
}

.password-strength span {
  font-weight: bold;
  font-size: 18px;
  color: #28a745;
}

/* .password-strength label {
  font-size: 16px;
}

.encryption-key,
.save-passwords,
.password-length,
.number-of-passwords,
.save-passwords,
.password-strength,
.saved-passwords {
  margin-top: 20px;
}

.saved-passwords div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.saved-passwords input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.saved-passwords button {
  margin-left: 10px;
  background-color: #dc3545;
}

.saved-passwords button:hover {
  background-color: #c82333;
} */

.password-heading{
  background-color: #343a40;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  text-align: center;
}

