<div class="container mt-5">
  <h2 class="mb-4 password-heading">Password Generator</h2>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="passwordLength">Password Length:</label>
      <input type="number" class="form-control" [(ngModel)]="length" min="1" max="50">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="includeLetters">
      <label class="form-check-label">Include Letters : ABC, abc</label>
    </div>
    <div class="col-md-6 form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="includeNumbers">
      <label class="form-check-label">Include Numbers : 12345...</label>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="includeSymbols">
      <label class="form-check-label">Include Symbols : @#$%...</label>
    </div>
    <div class="col-md-6 form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="excludeSimilarCharacters">
      <label class="form-check-label">Exclude Similar Characters (i, l, 1, L, 0, O)</label>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="excludeAmbiguousCharacters">
      <label class="form-check-label">Exclude Ambiguous Characters</label>
    </div>
    <div class="col-md-6 form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="excludeRepeatingCharacters">
      <label class="form-check-label">Exclude Repeating Characters</label>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="excludeSequentialCharacters">
      <label class="form-check-label">Exclude Sequential Characters</label>
    </div>
    <div class="col-md-6">
      <label for="customCharacters">Exclude Custom Characters:</label>
      <input type="text" class="form-control" [(ngModel)]="excludeCustomCharacters">
    </div>
  </div>

  <!-- <div class="row mb-3">
    <div class="col-md-6">
      <label for="encryptionKey">Encryption Key:</label>
      <input type="password" class="form-control" [(ngModel)]="encryptionKey">
    </div>
  </div> -->

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="numberOfPasswords">Number of Passwords:</label>
      <input type="number" class="form-control" [(ngModel)]="numberOfPasswords" min="1">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="savePasswordsLocally">
      <label class="form-check-label">Save Passwords Locally</label>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="generatePasswords()">Generate</button>
    </div>
  </div>

  <div *ngIf="generatedPasswords.length > 0" class="mb-4">
    <h4>Generated Passwords:</h4>
    <div *ngFor="let password of generatedPasswords" class="d-flex mb-2">
      <input type="text" class="form-control" [value]="password" readonly>
      <button class="btn btn-secondary ms-2" (click)="copyPasswordToClipboard(password)">Copy</button>
      <button class="btn btn-success" (click)="downloadPasswords()">Download Passwords</button>
    </div>
  </div>

  <div *ngIf="passwordStrength" class="mt-4">
    <h4>Password Strength: {{ passwordStrength }}</h4>
  </div>
  

  <div *ngIf="savedPasswords.length > 0">
    <h4>Saved Passwords:</h4>
    <div *ngFor="let password of savedPasswords; let i = index" class="d-flex mb-2">
      <input type="text" class="form-control" [value]="password" readonly>
      <button class="btn btn-danger ms-2" (click)="deleteSavedPassword(i)">Delete</button>
    </div>
    <button class="btn btn-warning" (click)="clearSavedPasswords()">Clear Saved Passwords</button>
  </div>
  

 
</div>
